body {
    margin: 0px;
    background-color: black;
    color: white;
}

section {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.small_img {
    height: 5em;
    width: 5em;
}

.large_img {
    height: 20em;
    width: 20em;
}